# Python-related
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Dependency directories
env/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# IDE-related
.idea/
.vscode/

# Miscellaneous
.DS_Store
Thumbs.db

